<ng-container>
  <div class="container text-center text-bg-primary p-3">
     <p class="fs-1 fw-bold">manuelle Steuerung</p>
     
    <div class="hstack gap-3">
      <div class="p-2 ms-auto"><p><a routerLink="/eingabe" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Eingabe</a></p></div>
      <div class="p-2"><p><a routerLink="/signale" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Signale</a></p></div>
      <div class="p-2"><p><a routerLink="/weichen" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Weichen</a></p></div>
    </div> 
  </div>
  
</ng-container>

<ng-container>
    
    <router-outlet></router-outlet>
</ng-container>

<ng-container>
 

</ng-container>
