<ng-container>
  <div class="container p-3">
  <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
    <h4>Weichensteuerung</h4>
    <ul class="nav nav-pills">      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Weichen</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#weichenHeading1">Geradeweichen</a></li>
          <li><a class="dropdown-item" href="#weichenHeading2">Bogenweichen</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#weichenHeading3">Keuzungsweichen</a></li>
          <li><a class="dropdown-item" href="#weichenHeading4">Aussenweichen</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#weichenHeading4">sonstige Weichen</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <h4 id="weichenHeading1">Geradeweichen</h4>
    <p>...</p>
    <h4 id="weichenHeading2">Bogenweichen</h4>
    <p>...</p>
    <h4 id="weichenHeading3">Keuzungsweichen</h4>
    <p>...</p>
    <h4 id="weichenHeading4">Aussenweichen</h4>
    <p>...</p>
    <h4 id="weichenHeading5">sonstige Weichen</h4>
    <p>...</p>
  </div>
</div>
<p></p>
</ng-container>

