<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Signaltyp</mat-label>
    <mat-select [(ngModel)]="selectedSignalType">
      <mat-option value="blocksignal">Blocksignal</mat-option>
      <mat-option value="einfahrsignal">Einfahrsignal</mat-option>
      <mat-option value="ausfahrsignal">Ausfahrsignal</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Signal ID</mat-label>
    <input matInput type="text" [(ngModel)]="signalId">
  </mat-form-field>
</div>
