.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
}

mat-form-field {
  width: 100%;
}

.signal-preview {
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

.signal-icon {
  margin: 15px 0;
  
  img {
    width: 64px;
    height: 64px;
  }
}

.signal-id {
  font-size: 1.2em;
  font-weight: bold;
}
