<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Kategorie</mat-label>
    <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange()">      
      <mat-option value="signal">Signal</mat-option>
      <mat-option value="weiche">Weiche</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Typ</mat-label>
    <mat-select [(ngModel)]="selectedSignalType" (ngModelChange)="onSymbolTypeChange()">      
      <ng-container *ngIf="selectedCategory === 'signal'">
        <mat-option value="einfahrsignal">Einfahrsignal</mat-option>
        <mat-option value="ausfahrsignal">Ausfahrsignal</mat-option>
        <mat-option value="blocksignal">Blocksignal</mat-option>        
      </ng-container>
      <ng-container *ngIf="selectedCategory === 'weiche'">
        <mat-option value="rechtsweiche">Rechtsweiche</mat-option>
        <mat-option value="linksweiche">Linksweiche</mat-option>
        <mat-option value="doppelkreuzweiche">Doppelkreuzweiche</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ selectedCategory === 'signal' ? 'Signal' : 'Weichen' }} ID</mat-label>
    <input matInput 
           type="number" 
           [(ngModel)]="signalId"
           (ngModelChange)="onSymbolIdChange()"
           [placeholder]="selectedCategory === 'signal' ? 'Nummer eingeben (z.B. 1)' : 'Nummer eingeben (z.B. 1)'">
    <mat-error *ngIf="isDuplicateId">Diese ID existiert bereits!</mat-error>
    <mat-error *ngIf="!validateId(signalId)">Bitte nur Zahlen eingeben</mat-error>
  </mat-form-field>

  <div class="preview-container">
    <div class="signal-icon">
      <ng-container *ngComponentOutlet="getSignalIcon()"></ng-container>
    </div>
    <div class="signal-info">
      <span class="signal-label">{{ selectedCategory === 'signal' ? 'Signal' : 'Weichen' }}-ID:</span>
      <span class="signal-value">{{ getFormattedId() }}</span>
    </div>
  </div>

  <div class="action-buttons">
    <button mat-raised-button 
            class="green-button"
            (click)="onAdd()"
            [disabled]="!isValid()">
      Hinzufügen
    </button>
    <button mat-raised-button 
            class="red-button"
            [disabled]="!signalId"
            (click)="onReset()">
      Zurücksetzen
    </button>
  </div>
</div>


