<ng-container>
  <div class="container p-3">
    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
        <h4>Signalesteuerung</h4>
        <ul class="nav nav-pills">          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Signale</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#signaleHeading1">Einfahrsignale</a></li>
              <li><a class="dropdown-item" href="#signaleHeading2">Ausfahrsignale</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#signaleHeading3">Blocksignale</a></li>
              <li><a class="dropdown-item" href="#signaleHeading4">Vorsignale</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#signaleHeading5">Sonstige Signale</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h4 id="signaleHeading1">Einfahrsignale</h4>        
          <div class="row row-cols-1 row-cols-md-4">
            <div class="col">
              <div class="card">              
                <div class="card-body">
                  <h6 class="card-title">Einfahrsignal</h6>
                  <p class="card-text">ID: 1</p>
                  <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                  <button type="button" class="btn btn-success btn-sm">Hp1</button>
                  <button type="button" class="btn btn-warning btn-sm">Hp2</button>                  
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Einfahrsignal</h6>
                  <p class="card-text">ID: 2</p>
                  <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                  <button type="button" class="btn btn-success btn-sm">Hp1</button>
                  <button type="button" class="btn btn-warning btn-sm">Hp2</button>
                </div>              
              </div>
            </div>
            <div class="col">
              <div class="card">              
                <div class="card-body">
                  <h6 class="card-title">Einfahrsignal</h6>
                  <p class="card-text">ID: 2</p>
                  <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                  <button type="button" class="btn btn-success btn-sm">Hp1</button>
                  <button type="button" class="btn btn-warning btn-sm">Hp2</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">                
                <div class="card-body">
                  <h6 class="card-title">Einfahrsignal</h6>
                  <p class="card-text">ID: 4</p>
                  <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                  <button type="button" class="btn btn-success btn-sm">Hp1</button>
                  <button type="button" class="btn btn-warning btn-sm">Hp2</button>
                </div>
              </div>
            </div>
          </div>      
        
        <h4 id="signaleHeading2">Ausfahrsignale</h4>
        <div class="row row-cols-1 row-cols-md-4">
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Ausfahrsignal</h6>
                <p class="card-text">ID: 1</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
                <button type="button" class="btn btn-warning btn-sm">Hp2</button>
                <button type="button" class="btn btn-light btn-sm">Sh1</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Ausfahrsignal</h6>
                <p class="card-text">ID: 2</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
                <button type="button" class="btn btn-warning btn-sm">Hp2</button>
                <button type="button" class="btn btn-light btn-sm">Sh1</button>
              </div>              
            </div>
          </div>
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Ausfahrsignal</h6>
                <p class="card-text">ID: 2</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
                <button type="button" class="btn btn-warning btn-sm">Hp2</button>
                <button type="button" class="btn btn-light btn-sm">Sh1</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Ausfahrsignal</h6>
                <p class="card-text">ID: 4</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
                <button type="button" class="btn btn-warning btn-sm">Hp2</button>
                <button type="button" class="btn btn-light btn-sm">Sh1</button>
              </div>
            </div>
          </div>
        </div>
        <h4 id="signaleHeading3">Blocksignale</h4>
        <div class="row row-cols-1 row-cols-md-4">
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Blocksignal</h6>
                <p class="card-text">ID: 1</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Blocksignal</h6>
                <p class="card-text">ID: 2</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
              </div>              
            </div>
          </div>
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Blocksignal</h6>
                <p class="card-text">ID: 2</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              
              <div class="card-body">
                <h6 class="card-title">Blocksignal</h6>
                <p class="card-text">ID: 4</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
              </div>
            </div>
          </div>
        </div>
        <h4 id="signaleHeading4">Vorsignale</h4>
        <div class="row row-cols-1 row-cols-md-4">
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Vorsignal</h6>
                <p class="card-text">ID: 1</p>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
                <button type="button" class="btn btn-warning btn-sm">Hp2</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Vorsignal</h6>
                <p class="card-text">ID: 2</p>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
                <button type="button" class="btn btn-warning btn-sm">Hp2</button>
              </div>              
            </div>
          </div>
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Vorsignal</h6>
                <p class="card-text">ID: 2</p>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
                <button type="button" class="btn btn-warning btn-sm">Hp2</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Vorsignal</h6>
                <p class="card-text">ID: 4</p>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
                <button type="button" class="btn btn-warning btn-sm">Hp2</button>
              </div>
            </div>
          </div>
        </div>      
        <h4 id="signaleHeading5">Sonstige Signale</h4>
        <div class="row row-cols-1 row-cols-md-4">
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Sonstige Signal</h6>
                <p class="card-text">ID: 1</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Sonstige Signal</h6>
                <p class="card-text">ID: 2</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
              </div>              
            </div>
          </div>
          <div class="col">
            <div class="card">              
              <div class="card-body">
                <h6 class="card-title">Sonstige Signal</h6>
                <p class="card-text">ID: 2</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              
              <div class="card-body">
                <h6 class="card-title">Sonstige Signal</h6>
                <p class="card-text">ID: 4</p>
                <button type="button" class="btn btn-danger btn-sm">Hp0</button>
                <button type="button" class="btn btn-success btn-sm">Hp1</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</ng-container>
